.projects-container{
    background-color:var(--projectsColor);
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.progressbar{
    width:80%;
    height:20px;
    margin-top: 10px;
}
.project-heading{
    margin-bottom:10px;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
}
.progress{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.project-description{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width:576px){
    .projects-container{
        margin: 10px;
        padding: 20px;
    }
    .progressbar{
        width:90%;
        height:20px;
    }
    .project-heading{
        font-size: 20px;
    }
    .progress{
        font-size: 14px;
    }
    .project-description{
        font-size: 14px;
    }
}